@{
    ViewBag.Title = "Admin";
}

@*Admin NavBar*@
<div class="nav ">
    <ul class="nav nav-tabs m-auto p-3">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="~/Admin/Index">Home</a>
        </li>
        <li class="nav-item">
            <button id="crewTablebtn" class="nav-link btn">Crew</button>
        </li>
        <li class="nav-item">
            <button id="missionTablebtn" class="nav-link btn">Missions</button>
        </li>
        <li class="nav-item">
            <button id="admiralTablebtn" class="nav-link btn">Admirals</button>
        </li>
        <li class="nav-item">
            <button id="planetTablebtn" class="nav-link btn">Planets</button>
        </li>
        <li class="nav-item">
            <button id="empireTablebtn" class="nav-link btn">Empire</button>
        </li>
        <li class="nav-item">
            <button id="emperorTablebtn" class="nav-link btn">Emperor</button>
        </li>
    </ul>
</div>

<div class="container">
    <div id="TabContent" class="tab-content">
        <div id="home" class="tab-pane fade active show">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
        <div class="tab-pane fade" id="dropdown1">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
        </div>
        <div class="tab-pane fade" id="dropdown2">
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
        </div>
    </div>
</div>

@*Modal*@
<div class="modal" id="ArmadaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Armada Admin Management</h4>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">

            </div>
            <div id="modalFooter" class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*AlertMessages*@
<div id="deleteAlert" class="container"></div>
<div id="successAlert" class="container"></div>

@section scripts
{
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/MyJavaScript/Admiral.js"></script>
    <script src="~/Scripts/MyJavaScript/Crew.js"></script>
    <script src="~/Scripts/MyJavaScript/Emperor.js"></script>
    <script src="~/Scripts/MyJavaScript/Empire.js"></script>
    <script src="~/Scripts/MyJavaScript/Mission.js"></script>
    <script src="~/Scripts/MyJavaScript/Planet.js"></script>

}
