@{
    ViewBag.Title = "Admin";
}

@*Admin NavBar*@
<div class="nav ">
    <ul class="nav nav-tabs m-auto p-3">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="~/Admin/Index">Home</a>
        </li>
        <li class="nav-item">
            <button id="crewTablebtn" class="nav-link btn">Crew</button>
        </li>
        <li class="nav-item">
            <button id="missionTablebtn" class="nav-link btn">Missions</button>
        </li>
        <li class="nav-item">
            <button id="admiralTablebtn" class="nav-link btn">Admirals</button>
        </li>
        <li class="nav-item">
            <button id="planetTablebtn" class="nav-link btn">Planets</button>
        </li>
        <li class="nav-item">
            <button id="empireTablebtn" class="nav-link btn">Empire</button>
        </li>
        <li class="nav-item">
            <button id="emperorTablebtn" class="nav-link btn">Emperor</button>
        </li>
    </ul>
</div>

<div class="container">
    <div id="TabContent" class="tab-content">
        <div id="home" class="tab-pane fade active show">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
        <div class="tab-pane fade" id="dropdown1">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
        </div>
        <div class="tab-pane fade" id="dropdown2">
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
        </div>
    </div>
</div>

@*Modal*@
<div class="modal" id="ArmadaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Armada Admin Management</h4>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">

            </div>
            <div id="modalFooter" class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*AlertMessages*@
<div id="deleteAlert" class="container"></div>
<div id="successAlert" class="container"></div>

@section scripts
{
    <script>

        //Crew
        function CreateCrewTable() {
            $("#TabContent").html(`
                                  <h2 class="m-4 text-center">Crew</h2>
                                   <table class="table table-hover table-bordered">
                                       <thead>
                                           <tr>
                                               <th>Number</th>
                                               <th>Specialty</th>
                                               <th>Admiral</th>
                                               <th>Actions</th>
                                           </tr>
                                       </thead>
                                       <tbody id="crewBody">
                                   </tbody>
                                </table>
                               <button id="create" onclick="" class="btn btn-primary m-1">Create New</button>
                                        `);
        }

        $("#crewTablebtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Crew",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreateCrewTable();
                    response.forEach(function(crew) {
                        $("#crewBody").append(`
                                           <tr id=crew${crew.CrewId}>
                                               <td>
                                                   ${crew.Number}
                                               </td>
                                               <td>
                                                   ${crew.Specialty}
                                               </td>
                                                  <td>
                                                   ${crew.Admiral}
                                               </td>

                                               <td>
                                                   <button id="info" onclick="ShowCrewInfoModal(${crew.CrewId
                            })" class="btn btn-info btn-sm">Info</button>
                                                   <button id="edit" onclick="(${crew.CrewId
                            })" class="btn btn-primary btn-sm">Edit</button>
                                                   <button id="delete" onclick="ShowCrewDeleteModal(${crew.CrewId
                            })" class="btn btn-danger btn-sm">Delete</button>
                                               </td>
                                           </tr>
                                                            `);
                    });
                }
            });

        });

        function ShowCrewInfoModal(id) {
            $.ajax({
                type: "GET",
                url: `/api/Crew/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    $(document).ready(function() {
                        $("#ArmadaModal").modal();
                    });

                    $("#modalBody").html(`<ul>
                                                     <li><p class ="text-info">  <strong>Crew Number:</strong> ${
                        response.Number}</p> </li>
                                                     <li><p class ="text-info">  <strong>Specialty:</strong> ${response
                        .Specialty}</p> </li>
                                                     <li><p class ="text-info">   <strong>Admiral in charge:</strong> ${
                        response.Admiral}</p></li>
                                                    <ul>`);

                    $("#modalFooter")
                        .html(
                            '<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>');

                    $(".close").click(function() {
                        $("#ArmadaModal").modal("hide");
                    });
                }
            });
        }

        function ShowCrewDeleteModal(id) {
            $(document).ready(function() {
                $("#ArmadaModal").modal();
            });

            $("#modalBody").html('<p class="text-danger"><strong>Are you sure you want to delete this?</strong></p>');

            $("#modalFooter").html(
                `
                                        <button type="button" onclick="DeleteCrew(${id
                })" class="btn btn-danger deletebtn">Delete</button>
                                        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>
                                        `
            );

            $(".close").click(function() {
                $("#ArmadaModal").modal("hide");
            });
        }

        function DeleteCrew(id) {
            $.ajax({
                type: "DELETE",
                url: `/api/Crew/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    setTimeout(() => $("#deleteAlert").html(`
                                                        <div class="alert alert-dismissible alert-warning">
                                                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                                          <h4 class="alert-heading">Successfully deleted</h4>
                                                          <p class="mb-0">${response.Specialty}</p>
                                                        </div>
                                                    `).fadeOut(4000),
                        500);
                }
            });
            $("#ArmadaModal").modal("hide");
            $(`#crew${id}`).remove();
        }


        //Mission
        function CreateMissionTable() {
            $("#TabContent").html(`
                                            <h2 class="m-4 text-center">Missions</h2>
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Type</th>
                                                        <th>Duration</th>
                                                        <th>Planets</th>
                                                        <th>Admirals</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="missionsBody">
                                            </tbody>
                                         </table>
                                        <button id="create" onclick="" class="btn btn-primary m-1">Create New</button>
                                        `);
        }

        $("#missionTablebtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Mission",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreateMissionTable();
                    response.forEach(function(mission) {
                        $("#missionsBody").append(`
                                                            <tr id = miss${mission.MissionId}>
                                                                 <td>
                                                                     ${mission.Type}
                                                                 </td>
                                                                 <td>
                                                                     ${mission.Duration}
                                                                 </td>
                                                                 <td>
                                                                     <ul class = "list-unstyled">
                                                                        ${ShowMissionPlanets(mission)}
                                                                    </ul>
                                                                 </td>
                                                                 <td>
                                                                     <ul class = "list-unstyled">
                                                                        ${ShowMissionAdmirals(mission)}
                                                                    </ul>
                                                                 </td>
                                                                 <td>
                                                                     <button id="info" onclick="ShowMissionInfoModal(${
                            mission.MissionId})" class="btn btn-info btn-sm">Info</button>
                                                                     <button id="edit" onclick="" class="btn btn-primary btn-sm">Edit</button>
                                                                     <button id="delete" onclick="ShowMissionDeleteModal(${
                            mission.MissionId})" class="btn btn-danger btn-sm">Delete</button>
                                                                 </td>
                                                             </tr>
                                                            `);
                    });

                }
            });

        });

        function ShowMissionAdmirals(mission) {
            let template = "";
            for (var admiral of mission.Admirals) {
                template += `<li>
                                        ${admiral.Name}
                                        </li>`;
            }

            return template;
        }

        function ShowMissionPlanets(mission) {
            let template = "";
            for (var planet of mission.Planets) {
                template += `<li>
                                        ${planet.Name}
                                        </li>`;
            }

            return template;
        }

        function ShowMissionInfoModal(id) {
            $.ajax({
                type: "GET",
                url: `/api/Mission/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    $(document).ready(function() {
                        $("#ArmadaModal").modal();
                    });

                    $("#modalBody").html(`<ul>
                                                     <li> <p class ="text-info"> <strong>Start Date:</strong> ${
                        response
                        .StartDate} </p> </li>
                                                     <li> <p class ="text-info"> <strong>End Date:</strong> ${response
                        .EndDate} </p> </li>
                                                    <ul>`);

                    $("#modalFooter")
                        .html(
                            '<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>');

                    $(".close").click(function() {
                        $("#ArmadaModal").modal("hide");
                    });
                }
            });
        }

        function ShowMissionDeleteModal(id) {
            $(document).ready(function() {
                $("#ArmadaModal").modal();
            });

            $("#modalBody").html('<p class="text-danger"><strong>Are you sure you want to delete this?</strong></p>');

            $("#modalFooter").html(
                `
                                        <button type="button" onclick="DeleteMission(${id
                })" class="btn btn-danger deletebtn">Delete</button>
                                        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>
                                        `
            );

            $(".close").click(function() {
                $("#ArmadaModal").modal("hide");
            });
        }

        function DeleteMission(id) {
            $.ajax({
                type: "DELETE",
                url: `/api/Mission/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    setTimeout(() => $("#deleteAlert").html(`
                                                        <div class="alert alert-dismissible alert-warning">
                                                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                                          <h4 class="alert-heading">Successfully deleted</h4>
                                                          <p class="mb-0">${response.Type}</p>
                                                        </div>
                                                    `).fadeOut(4000),
                        500);
                }
            });
            $("#ArmadaModal").modal("hide");
            $(`#miss${id}`).remove();
        }


        //Admiral
        function CreateAdmiralTable() {
            $("#TabContent").html(`
                                             <h2 class="m-4 text-center">Admirals</h2>
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Photo</th>
                                                        <th>Name</th>
                                                        <th>Age</th>
                                                        <th>Crew</th>
                                                        <th>Missions</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="admiralsBody">
                                            </tbody>
                                         </table>
                                       <button id="create" onclick="" class="btn btn-primary m-1">Create New</button>
                                        `);
        }

        $("#admiralTablebtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Admiral",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreateAdmiralTable();
                    response.forEach(function(admiral) {
                        $("#admiralsBody").append(`
                                                             <tr id = "adm${admiral.AdmiralId}">
                                                                 <td>
                                                                     ${admiral.Photo}
                                                                 </td>
                                                                 <td>
                                                                     ${admiral.Name}
                                                                 </td>
                                                                 <td>
                                                                     ${admiral.Age}
                                                                 </td>
                                                                 <td>
                                                                     ${admiral.Crew}
                                                                 </td>
                                                                 <td>
                                                                    <ul class="list-unstyled">
                                                                         ${admiral.Missions
                            .map(am => `<li> <strong>Mission ${am.MissionId}</strong> </br> <hr/>
                                                                                                      <strong>Type:</strong> ${
                                am.Type} </br>
                                                                                                      <strong>Date:</strong> ${
                                am.StartDate} </br>
                                                                                                      <strong>Is Success:</strong>${
                                am.IsSuccess} </br><hr/>
                                                                                                  </li>`).join(' ')}
                                                                    </ul>
                                                                 </td>
                                                                 <td>
                                                                     <button id="info" onclick="ShowAdmiralInfoModal(${
                            admiral.AdmiralId})" class="btn btn-info btn-sm">Info</button>
                                                                     <button id="edit" onclick="" class="btn btn-primary btn-sm">Edit</button>
                                                                     <button id="delete" onclick="ShowAdmiralDeleteModal(${
                            admiral.AdmiralId})" class="btn btn-danger btn-sm">Delete</button>
                                                                 </td>
                                                             </tr>
                                                            `);
                    });
                }
            });

        });

        function ShowAdmiralInfoModal(id) {
            $.ajax({
                type: "GET",
                url: `/api/Admiral/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    $(document).ready(function() {
                        $("#ArmadaModal").modal();
                    });

                    $("#modalBody").html(`<ul>
                                                     <li> <p class ="text-info"> <strong>Serving Empire:</strong> ${
                        response.Empire} </p> </li>
                                                     <li> <p class ="text-info"> <strong>Enlistment Date:</strong> ${
                        response.EnlistmentDate} </p> </li>
                                                     <li> <p class ="text-info"> <strong>About:</strong> ${response
                        .Description} </p> </li>
                                                    <ul>`);

                    $("#modalFooter")
                        .html(
                            '<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>');

                    $(".close").click(function() {
                        $("#ArmadaModal").modal("hide");
                    });
                }
            });
        }

        function ShowAdmiralDeleteModal(id) {
            $(document).ready(function() {
                $("#ArmadaModal").modal();
            });

            $("#modalBody").html('<p class="text-danger"><strong>Are you sure you want to delete this?</strong></p>');

            $("#modalFooter").html(
                `
                                        <button type="button" onclick="DeleteAdmiral(${id
                })" class="btn btn-danger deletebtn">Delete</button>
                                        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>
                                        `
            );

            $(".close").click(function() {
                $("#ArmadaModal").modal("hide");
            });
        }

        function DeleteAdmiral(id) {
            $.ajax({
                type: "DELETE",
                url: `/api/Admiral/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    setTimeout(() => $("#deleteAlert").html(`
                                                        <div class="alert alert-dismissible alert-warning">
                                                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                                          <h4 class="alert-heading">Successfully deleted</h4>
                                                          <p class="mb-0">${response.Name}</p>
                                                        </div>
                                                    `).fadeOut(4000),
                        500);
                }
            });
            $("#ArmadaModal").modal("hide");
            $(`#adm${id}`).remove();
        }


        //Planet
        function CreatePlanetTable() {
            $("#TabContent").html(`
                                             <h2 class="m-4 text-center">Planets</h2>
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Star System</th>
                                                        <th>Missions</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="planetsBody">
                                            </tbody>
                                         </table>
                                       <button id="create" onclick="" class="btn btn-primary m-1">Create New</button>
                                        `);
        }

        $("#planetTablebtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Planet",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreatePlanetTable();
                    response.forEach(function(planet) {
                        $("#planetsBody").append(`
                                                              <tr id = pl${planet.PlanetId}>
                                                                 <td>
                                                                     ${planet.Name}
                                                                 </td>
                                                                 <td>
                                                                     ${planet.StarSystem}
                                                                 </td>
                                                                 <td>
                                                                    <ul class = "list-unstyled">
                                                                     ${ShowPlanetMissions(planet)}
                                                                    </ul>
                                                                 </td>
                                                                 <td>
                                                                     <button id="info" onclick="ShowPlanetInfoModal(${
                            planet.PlanetId})" class="btn btn-info btn-sm">Info</button>
                                                                     <button id="edit" onclick="" class="btn btn-primary btn-sm">Edit</button>
                                                                     <button id="delete" onclick="ShowPlanetDeleteModal(${
                            planet.PlanetId})" class="btn btn-danger btn-sm">Delete</button>
                                                                 </td>
                                                             </tr>
                                                            `);
                    });

                }
            });

        });

        function ShowPlanetMissions(planet) {
            let template = "";
            for (var mission of planet.Missions) {
                template += `<li>
                                        ${mission.Type}
                                        </li>`;
            }

            return template;
        }

        function ShowPlanetInfoModal(id) {
            $.ajax({
                type: "GET",
                url: `/api/Planet/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    $(document).ready(function() {
                        $("#ArmadaModal").modal();
                    });

                    $("#modalBody").html(`<ul>
                                                     <li> <p class ="text-info"> <strong>Name:</strong> ${response.Name
                        } </p> </li>
                                                     <li> <p class ="text-info"> <strong>Planet Type:</strong> ${
                        response.Type} </p> </li>
                                                    <ul>`);

                    $("#modalFooter")
                        .html(
                            '<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>');

                    $(".close").click(function() {
                        $("#ArmadaModal").modal("hide");
                    });
                }
            });
        }

        function ShowPlanetDeleteModal(id) {
            $(document).ready(function() {
                $("#ArmadaModal").modal();
            });

            $("#modalBody").html('<p class="text-danger"><strong>Are you sure you want to delete this?</strong></p>');

            $("#modalFooter").html(
                `
                                        <button type="button" onclick="DeletePlanet(${id
                })" class="btn btn-danger deletebtn">Delete</button>
                                        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>
                                        `
            );

            $(".close").click(function() {
                $("#ArmadaModal").modal("hide");
            });
        }

        function DeletePlanet(id) {
            $.ajax({
                type: "DELETE",
                url: `/api/Planet/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    setTimeout(() => $("#deleteAlert").html(`
                                                        <div class="alert alert-dismissible alert-warning">
                                                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                                          <h4 class="alert-heading">Successfully deleted</h4>
                                                          <p class="mb-0">${response.Name}</p>
                                                        </div>
                                                    `).fadeOut(4000),
                        500);
                }
            });
            $("#ArmadaModal").modal("hide");
            $(`#pl${id}`).remove();
        }


        //Empire
        function CreateEmpireTable() {
            $("#TabContent").html(`
                                          <h2 class="m-4 text-center">Empires</h2>
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Photo</th>
                                                        <th>Name</th>
                                                        <th>Trait</th>
                                                        <th>Controlled System</th>
                                                        <th>Admirals</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="empiresBody">
                                            </tbody>
                                         </table>
                                       <button id="create" onclick="" class="btn btn-primary m-1">Create New</button>
                                        `);
        }

        $("#empireTablebtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Empire",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreateEmpireTable();
                    response.forEach(function(empire) {
                        $("#empiresBody").append(`
                                                                 <tr id = "empire${empire.EmpireId}">
                                                                 <td>
                                                                     ${empire.Photo}
                                                                 </td>
                                                                 <td>
                                                                     ${empire.Name}
                                                                 </td>
                                                                 <td>
                                                                     ${empire.Trait}
                                                                 </td>
                                                                 <td>
                                                                     ${empire.ControlledSystem}
                                                                 </td>
                                                                 <td>
                                                                     <ul class="list-unstyled">
                                                                     ${ShowEmpireAdmirals(empire)}
                                                                     </ul>
                                                                 </td>
                                                                 <td>
                                                                     <button id="info" onclick="ShowEmpireInfoModal(${
                            empire.EmpireId})" class="btn btn-info btn-sm">Info</button>
                                                                     <button id="edit" onclick="" class="btn btn-primary btn-sm">Edit</button>
                                                                     <button id="delete" onclick="ShowEmpireDeleteModal(${
                            empire.EmpireId})" class="btn btn-danger btn-sm">Delete</button>
                                                                 </td>
                                                             </tr>
                                                            `);
                    });
                }
            });

        });

        function ShowEmpireAdmirals(empire) {
            let template = "";
            for (var admiral of empire.Admirals) {
                template += `<li>
                                        ${admiral.Name}
                                             <strong>Species: </strong>
                                        ${admiral.Species}
                                        </li></br>`;
            }

            return template;
        }

        function ShowEmpireInfoModal(id) {
            $.ajax({
                type: "GET",
                url: `/api/Empire/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    $(document).ready(function() {
                        $("#ArmadaModal").modal();
                    });

                    $("#modalBody").html(`<ul>
                                                     <li> <p class ="text-info"> <strong>Emperor ruling:</strong> ${
                        response.Emperor} </p> </li>
                                                     <li> <p class ="text-info"> <strong>About:</strong> ${response
                        .Description} </p> </li>
                                                    <ul>`);

                    $("#modalFooter")
                        .html(
                            '<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>');

                    $(".close").click(function() {
                        $("#ArmadaModal").modal("hide");
                    });
                }
            });
        }

        function ShowEmpireDeleteModal(id) {
            $(document).ready(function() {
                $("#ArmadaModal").modal();
            });

            $("#modalBody").html('<p class="text-danger"><strong>Are you sure you want to delete this?</strong></p>');

            $("#modalFooter").html(
                `
                                        <button type="button" onclick="DeleteEmpire(${id
                })" class="btn btn-danger deletebtn">Delete</button>
                                        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>
                                        `
            );

            $(".close").click(function() {
                $("#ArmadaModal").modal("hide");
            });
        }

        function DeleteEmpire(id) {
            $.ajax({
                type: "DELETE",
                url: `/api/Empire/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    setTimeout(() => $("#deleteAlert").html(`
                                                        <div class="alert alert-dismissible alert-warning">
                                                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                                          <h4 class="alert-heading">Successfully deleted</h4>
                                                          <p class="mb-0">${response.Name}</p>
                                                        </div>
                                                    `).fadeOut(4000),
                        500);
                }
            });
            $("#ArmadaModal").modal("hide");
            $(`#empire${id}`).remove();
        }


        //Emperor

        //Table Creation Section
        function CreateEmperorTableHead() {
            $("#TabContent").html(`
                                             <h2 class="m-4 text-center">Emperors</h2>
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Photo</th>
                                                        <th>Name</th>
                                                        <th>Age</th>
                                                        <th>Empire</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="emperorsBody">
                                            </tbody>
                                         </table>
                                      <button id="create" onclick="ShowEmperorCreateModal()" class="btn btn-primary m-1">Create New</button>
                                        `);
        }

        function CreateEmperorFullTable() {
            $.ajax({
                type: "GET",
                url: "/api/Emperor",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreateEmperorTableHead();
                    response.forEach(function(emperor) {
                        $("#emperorsBody").append(`
                                                                <tr id=emp${emperor.EmperorId}>
                                                                    <td>
                                                                        ${emperor.Photo}
                                                                    </td>
                                                                    <td>
                                                                        ${emperor.Name}
                                                                    </td>
                                                                    <td>
                                                                        ${emperor.Age}
                                                                    </td>
                                                                    <td>
                                                                        ${emperor.Empire}
                                                                    </td>
                                                                    <td>
                                                                        <button id="info" onclick="ShowEmperorInfoModal(${
                            emperor.EmperorId})" class="btn btn-info btn-sm">Info</button>
                                                                        <button id="edit" onclick="ShowEmperorEditModal(${
                            emperor.EmperorId})" class="btn btn-primary btn-sm">Edit</button>
                                                                        <button id="delete" onclick="ShowEmperorDeleteModal(${
                            emperor.EmperorId})" class="btn btn-danger btn-sm">Delete</button>
                                                                    </td>
                                                             </tr>
                                                            `);
                    });

                }
            });
        }

        $("#emperorTablebtn").click(CreateEmperorFullTable);

        //Create Emperor Section
        function ShowEmperorCreateModal() {
            $(document).ready(function() {
                $("#ArmadaModal").modal();
            });
            EmperorEmpiresTemplate();

            EmperorCreateModalBody();

            $("#modalFooter")
                .html('<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>');

            $(".close").click(function() {
                $("#ArmadaModal").modal("hide");
            });

            $("#empCreateForm").submit((e) => e.preventDefault());

            CreateEmperor();

            $("#empCreateForm").submit(() => $("#ArmadaModal").modal("hide"));

            $("#empCreateForm").submit(() => CreateEmperorFullTable());

        }

        function EmperorCreateModalBody() {
            $("#modalBody").html(`
                                    <div class="col-md-8 mx-auto text-center">
                                         <form id="empCreateForm">
                                           <fieldset>
                                               <legend>Register Emperor</legend>

                                               <div class="form-group">
                                                   <label class="col-form-label mt-4" for="Name">Name</label>
                                                   <input type="text" class="form-control" placeholder="Name" id="Name" autocomplete="off" required minlength="2" >
                                               </div>

                                               <div class="form-group">
                                                   <label class="col-form-label mt-4" for="Age">Age</label>
                                                   <input type="number" class="form-control" placeholder="Age" id="Age" autocomplete="off" required min ="18">
                                               </div>

                                               <div class="form-group">
                                                   <label for="EmpireSelect" class="form-label mt-4">Empire</label>
                                                   <select class="form-select" id="EmpireSelect">
                                                    
                                                   </select>
                                               </div>
                                               <div class="form-group">
                                                   <label for="SpeciesSelect" class="form-label mt-4">Species</label>
                                                   <select class="form-select" id="SpeciesSelect">
                                                    
                                                   </select>
                                               </div>
                                               <div class="form-group">
                                                   <label for="About" class="form-label mt-4">About</label>
                                                   <textarea class="form-control" id="About" rows="3" required minlength="10"></textarea>
                                               </div>
                                               <div class="form-group">
                                                   <label for="formFile" class="form-label mt-4">Photo</label>
                                                   <input class="form-control" type="file" id="formFile">
                                               </div>
                                                  <input type="submit" class="btn btn-primary mt-3"  value="Register"/>
                                              </fieldset>
                                         </form>
                                      </div>
                                  `);
        }

        function EmperorEmpiresTemplate() {
            $.ajax({
                type: "GET",
                url: "/api/Empire",
                data: "",
                dataType: "json",
                success: function(response) {

                    var empireWithoutEmperors = response.filter(e => e.Emperor == null);
                    empireWithoutEmperors.forEach(function(empire) {
                        $("#EmpireSelect").append(`
                                                       <option id="${empire.EmpireId}">${empire.Name}</option>
                                               `);
                    });
                }
            });

        }

        function CreateEmperor() {

            $("#empCreateForm").submit(() => {
                var emperor = {
                    "EmperorId": $("#EmpireSelect").children(":selected").attr("id"),
                    "Name": $("#Name").val(),
                    "Age": $("#Age").val(),
                    "Description": $("#About").val(),
                    "Photo": null,

                };

                $.ajax({
                    type: "POST",
                    url: "/api/Emperor",
                    data: emperor,
                    dataType: "json",
                    success: function(response) {
                        $("#successAlert").html(`
                                       <div class="alert alert-dismissible alert-success">
                                           <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                           <strong>Well done!</strong> You successfully Created  ${response.Name} !!
                                       </div>
                                              `);
                        setTimeout(() => $("#successAlert").html('').fadeOut(4000), 4000);
                    }
                });
            });
        }

        //Edit Emperor Section

        function ShowEmperorEditModal(id) {
            $(document).ready(function() {
                $("#ArmadaModal").modal();
            });

            EmperorEmpiresTemplate();

            EmperorEditModalBody(id);

            $("#modalFooter")
                .html('<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>');

            $(".close").click(function() {
                $("#ArmadaModal").modal("hide");
            });

            $("#empForm").submit((e) => e.preventDefault());

            EditEmperor(id);

            $("#empForm").submit(() => $("#ArmadaModal").modal("hide"));

            $("#empForm").submit(() => CreateEmperorFullTable());

        }

        

        function EditEmperor(id) {

            $("#empForm").submit(() => {
                var emperor = {
                    "EmperorId": $("#EmpireSelect").children(":selected").attr("id"),
                    "Name": $("#Name").val(),
                    "Age": $("#Age").val(),
                    "Description": $("#About").val(),
                    "Photo": null,

                };
           
            $.ajax({
                type: "PUT",
                url: `/api/Emperor/?id=${id}`,
                data: emperor,
                dataType: "json",
                success: function(response) {
                    $("#successAlert").html(`
                                       <div class="alert alert-dismissible alert-success">
                                           <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                           <strong>Well done!</strong> You successfully Edited  ${response.Name} !!
                                       </div>
                                              `);
                    setTimeout(() => $("#successAlert").html('').fadeOut(4000), 4000);
                }
            });
            });
        }


        //Info Emperor Section
        function ShowEmperorInfoModal(id) {
            $.ajax({
                type: "GET",
                url: `/api/Emperor/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    $(document).ready(function() {
                        $("#ArmadaModal").modal();
                    });

                    $("#modalBody").html(`<ul>
                                                     <li> <p class ="text-info"> <strong>About:</strong> ${response
                        .Description} </p> </li>
                                                    <ul>`);

                    $("#modalFooter")
                        .html(
                            '<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>');

                    $(".close").click(function() {
                        $("#ArmadaModal").modal("hide");
                    });
                }
            });
        }

        //Delete Emperor Section
        function ShowEmperorDeleteModal(id) {
            $(document).ready(function() {
                $("#ArmadaModal").modal();
            });

            $("#modalBody").html('<p class="text-danger"><strong>Are you sure you want to delete this?</strong></p>');

            $("#modalFooter").html(
                `
                                        <button type="button" onclick="DeleteEmperor(${id
                })"class="btn btn-danger deletebtn">Delete</button>
                                        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>
                                        `
            );

            $(".close").click(function() {
                $("#ArmadaModal").modal("hide");
            });
        }

        function DeleteEmperor(id) {
            $.ajax({
                type: "DELETE",
                url: `/api/Emperor/?id=${id}`,
                data: "",
                dataType: "json",
                success: function(response) {
                    setTimeout(() => $("#deleteAlert").html(`
                                                        <div class="alert alert-dismissible alert-warning">
                                                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                                          <h4 class="alert-heading">Successfully deleted</h4>
                                                          <p class="mb-0">${response.Name}</p>
                                                        </div>
                                                    `).fadeOut(4000),
                        500);
                }
            });

            $("#ArmadaModal").modal("hide");
            $(`#emp${id}`).remove();
        }

    </script>
}