@{
    ViewBag.Title = "Index";
}


<div class="nav ">
    <ul class="nav nav-tabs m-auto p-3">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <button id="crewbtn" class="nav-link btn">Crew</button>
        </li>
        <li class="nav-item">
            <button id="missionbtn" class="nav-link btn">Missions</button>
        </li>
        <li class="nav-item">
            <button id="admiralbtn" class="nav-link btn">Admirals</button>
        </li>
        <li class="nav-item">
            <button id="planetbtn" class="nav-link btn">Planets</button>
        </li>
        <li class="nav-item">
            <button id="empirebtn" class="nav-link btn">Empire</button>
        </li>
        <li class="nav-item">
            <button id="emperorbtn" class="nav-link btn">Emperor</button>
        </li>
    </ul>
</div>

@*Modal*@
<div class="modal" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Element</h5>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete</p>
            </div>
            <div class="modal-footer" id="modalfooterbtn">
               
            </div>
        </div>
    </div>
</div>


    <div class="container">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="home">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div class="tab-pane fade" id="profile">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
            </div>
            <div class="tab-pane fade" id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>
            <div class="tab-pane fade" id="dropdown2">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
            </div>
        </div>
    </div>
<div id="alertEmperor" class="container"></div>



@section scripts
{
    <script>
        //Crew
        function CreateCrewTable() {
            $("#myTabContent").html(`
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Number</th>
                                            <th>Specialty</th>
                                            <th>Admiral</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="crewBody">
                                </tbody>
                             </table>
                            `);
        }

        $("#crewbtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Crew",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreateCrewTable();
                    response.forEach(function(crew) {
                        $("#crewBody").append(`
                                                     <tr>
                                                     <td>
                                                         ${crew.Number}
                                                     </td>
                                                     <td>
                                                         ${crew.Specialty}
                                                     </td>
                                                        <td>
                                                         ${crew.Admiral}
                                                     </td>

                                                     <td>
                                                         <button id="delete" onclick="deleteCrew(${crew.CrewId})" class="btn btn-danger btn-sm">Delete</button>
                                                     </td>
                                                 </tr>
                                                `);
                    });
                }
            });

        });

        //Mission
        function CreateMissionTable() {
            $("#myTabContent").html(`
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Planets</th>
                                            <th>Admirals</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="missionsBody">
                                </tbody>
                             </table>
                            `);
        }

        $("#missionbtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Mission",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreateMissionTable();
                    response.forEach(function(mission) {
                        $("#missionsBody").append(`
                                                     <tr>
                                                     <td>
                                                         ${mission.Type}
                                                     </td>
                                                     <td>
                                                         ${mission.StartDate}
                                                     </td>
                                                     <td>
                                                         ${mission.EndDate}
                                                     </td>
                                                     <td>
                                                         <ul class = "list-unstyled">
                                                            ${ShowMissionPlanets(mission)}
                                                        </ul>
                                                     </td>
                                                     <td>
                                                         <ul class = "list-unstyled">
                                                            ${ShowMissionAdmirals(mission)}
                                                        </ul>
                                                     </td>
                                                     <td>
                                                         <button id="delete" onclick="deleteMission(${mission.missionId
                            })" class="btn btn-danger btn-sm">Delete</button>
                                                     </td>
                                                 </tr>
                                                `);
                    });

                }
            });

        });

        function ShowMissionAdmirals(mission) {
            let template = "";
            for (var admiral of mission.Admirals) {
                template += `<li>
                            ${admiral.Name}
                            </li>`;
            }

            return template;
        }

        function ShowMissionPlanets(mission) {
            let template = "";
            for (var planet of mission.Planets) {
                template += `<li>
                            ${planet.Name}
                            </li>`;
            }

            return template;
        }

        //Admiral
        function CreateAdmiralTable() {
            $("#myTabContent").html(`
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Photo</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Enlistment Date</th>
                                            <th>Empire</th>
                                            <th>Crew</th>
                                            <th>Missions</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="admiralsBody">
                                </tbody>
                             </table>
                            `);
        }

        $("#admiralbtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Admiral",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreateAdmiralTable();
                    response.forEach(function(admiral) {
                        $("#admiralsBody").append(`
                                                     <tr>
                                                     <td>
                                                         ${admiral.Photo}
                                                     </td>
                                                     <td>
                                                         ${admiral.Name}
                                                     </td>
                                                     <td>
                                                         ${admiral.Age}
                                                     </td>
                                                     <td>
                                                         ${admiral.EnlistmentDate}
                                                     </td>
                                                     <td>
                                                         ${admiral.Empire}
                                                     </td>
                                                     <td>
                                                         ${admiral.Crew}
                                                     </td>
                                                     <td>
                                                        <ul class="list-unstyled">
                                                             ${admiral.Missions.map(am => `<strong>Mission ${am.MissionId}</strong> </br> <hr/> <li>
                                                                                          <strong>Type:</strong> ${am.Type} </br> 
                                                                                          <strong>Date:</strong> ${am.StartDate} </br> 
                                                                                          <strong>Is Success:</strong>${am.IsSuccess} </br>
                                                                                         </li>`).join(' ')} 
                                                        </ul>
                                                     </td>
                                                     <td>
                                                         <button id="delete" onclick="deleteMission(${admiral.AdmiralId
                            })" class="btn btn-danger btn-sm">Delete</button>
                                                     </td>
                                                 </tr>
                                                `);
                    });

                }
            });

        });

        //Planet
        function CreatePlanetTable() {
            $("#myTabContent").html(`
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Star System</th>
                                            <th>Missions</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="planetsBody">
                                </tbody>
                             </table>
                            `);
        }

        $("#planetbtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Planet",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreatePlanetTable();
                    response.forEach(function(planet) {
                        $("#planetsBody").append(`
                                                     <tr>
                                                     <td>
                                                         ${planet.Name}
                                                     </td>
                                                     <td>
                                                         ${planet.StarSystem}
                                                     </td>
                                                     <td>
                                                        <ul class = "list-unstyled">
                                                         ${ShowPlanetMissions(planet)}
                                                        </ul>
                                                     </td>
                                                     <td>
                                                         <button id="delete" onclick="deleteMission(${planet.PlanetId
                            })" class="btn btn-danger btn-sm">Delete</button>
                                                     </td>
                                                 </tr>
                                                `);
                    });

                }
            });

        });

        function ShowPlanetMissions(planet) {
            let template = "";
            for (var mission of planet.Missions) {
                template += `<li>
                            ${mission.Type}
                            </li>`;
            }

            return template;
        }


        //Empire
        function CreateEmpireTable() {
            $("#myTabContent").html(`
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Photo</th>
                                            <th>Name</th>
                                            <th>Trait</th>
                                            <th>Controlled System</th>
                                            <th>Emperor</th>
                                            <th>Admirals</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="empiresBody">
                                </tbody>
                             </table>
                            `);
        }

        $("#empirebtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Empire",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreateEmpireTable();
                    response.forEach(function(empire) {
                        $("#empiresBody").append(`
                                                     <tr>
                                                     <td>
                                                         ${empire.Photo}
                                                     </td>
                                                     <td>
                                                         ${empire.Name}
                                                     </td>
                                                     <td>
                                                         ${empire.Trait}
                                                     </td>
                                                     <td>
                                                         ${empire.ControlledSystem}
                                                     </td>
                                                     <td>
                                                         ${empire.Emperor}
                                                     </td>
                                                     <td>
                                                         <ul class="list-unstyled">
                                                         ${ShowEmpireAdmirals(empire)}
                                                         </ul>
                                                     </td>
                                                     <td>
                                                         <button id="delete" onclick="deleteMission(${empire.EmpireId
                            })" class="btn btn-danger btn-sm">Delete</button>
                                                     </td>
                                                 </tr>
                                                `);
                    });

                }
            });

        });

        function ShowEmpireAdmirals(empire) {
            let template = "";
            for (var admiral of empire.Admirals) {
                template += `
                            ${admiral.Name}
                                 <strong>Species: </strong>
                            ${admiral.Species}
                            </li></br>`;
            }

            return template;
        }

        //Emperor
        function CreateEmperorTable() {
            $("#myTabContent").html(`
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Photo</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Empire</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="emperorsBody">
                                </tbody>
                             </table>
                            `);
        }

        $("#emperorbtn").click(function() {
            $.ajax({
                type: "GET",
                url: "/api/Emperor",
                data: "",
                dataType: "json",
                success: function(response) {
                    CreateEmperorTable();
                    response.forEach(function(emperor) {
                        $("#emperorsBody").append(`
                                                    <tr id=emp${emperor.EmperorId}>
                                                        <td>
                                                            ${emperor.Photo}
                                                        </td>
                                                        <td>
                                                            ${emperor.Name}
                                                        </td>
                                                        <td>
                                                            ${emperor.Age}
                                                        </td>
                                                        <td>
                                                            ${emperor.Empire}
                                                        </td>
                                                        <td>
                                                            <button id="delete" onclick="showEmperorDeleteModal(${emperor.EmperorId})" class="btn btn-danger btn-sm">Delete</button>
                                                        </td>
                                                 </tr>
                                                `);
                    });

                }
            });

        });


        function showEmperorDeleteModal(id) {
            $(document).ready(function () {
                $("#deleteModal").modal();
            });

            $("#modalfooterbtn").html(
                            `
                            <button type="button" onclick="deleteEmperor(${id})" id="ajaxDelete" class="btn btn-danger deletebtn">Delete</button>
                            <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>
                            `
            );

            $(".close").click(function () {
                $("#deleteModal").modal("hide");
            });
        }




        function deleteEmperor(id) {
            $.ajax({
                type: "DELETE",
                url: `/api/Emperor/?id=${id}`,
                data: "",
                dataType: "json",
                success: function (response) {
                    setTimeout(() => $("#alertEmperor").html(`
                                            <div class="alert alert-dismissible alert-warning">
                                              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                              <h4 class="alert-heading">Successfully deleted</h4>
                                              <p class="mb-0">${response.Name}</p>
                                            </div>
                                        `).fadeOut(4000), 500);

                    
                }
            });
            $("#deleteModal").modal("hide");
            $(`#emp${id}`).remove();
        }
        
        




    </script>
}